/* ==========================================================
   BASE
   Projeto Conexão • Rio Entretenimento
========================================================== */


/* ==========================================================
   BODY
========================================================== */

body{
    background: var(--preto);
    color: var(--branco);

    font-family: var(--fonte-principal);
    font-size: var(--font-md);
    font-weight: var(--regular);
    line-height: 1.6;
}


/* ==========================================================
   CONTAINER
========================================================== */

.container{
    width:100%;
    max-width:var(--container);

    margin:0 auto;
    padding:0 var(--space-lg);
}


/* ==========================================================
   SECTIONS
========================================================== */

section{
    padding:var(--section-padding) 0;
}


/* ==========================================================
   TÍTULOS
========================================================== */

h1,
h2,
h3,
h4,
h5,
h6{

    font-weight:var(--bold);
    line-height:1.2;
}

h1{
    font-size:clamp(3rem,7vw,var(--font-3xl));
}

h2{
    font-size:var(--font-2xl);
}

h3{
    font-size:var(--font-xl);
}


/* ==========================================================
   PARÁGRAFOS
========================================================== */

p{
    color:var(--texto-secundario);
}


/* ==========================================================
   LINKS
========================================================== */

a{
    transition:var(--transition);
}


/* ==========================================================
   SELEÇÃO DE TEXTO
========================================================== */

::selection{
    background:var(--azul);
    color:var(--branco);
}