/* ==========================================================
   HERO
   Projeto Conexão • Rio Entretenimento
========================================================== */


/* ==========================================================
   HERO
========================================================== */

.hero{
    display:flex;
    align-items:center;
    justify-content:center;

    min-height:calc(100vh - var(--header-height));

    

    position:relative;

    overflow:hidden;

    text-align:center;

    position:relative;

    overflow:hidden;
}

.hero::before{

    content:"";

    position:absolute;

    width:700px;
    height:700px;

    border-radius:50%;

    background:rgba(22,72,216,.18);

    filter:blur(180px);

    top:-250px;
    right:-120px;

    z-index:0;

}



.hero-tag{

    display:inline-block;

    margin-bottom:18px;

    color:rgba(118, 90, 134, 0.75);

    font-size:.9rem;

    font-weight:700;

    letter-spacing:3px;

    text-transform:uppercase;

}

/* ==========================================================
   CONTAINER
========================================================== */

.hero .container{
    display:flex;
    flex-direction:column;
    align-items:center;

    gap:var(--space-lg);

    position:relative;

    z-index:1;
}


/* ==========================================================
   TÍTULO
========================================================== */

.hero h1{

    max-width:900px;

    font-size:clamp(3.5rem,8vw,5.5rem);

    font-weight:var(--extrabold);

    line-height:1.05;

    letter-spacing:-2px;
}


/* ==========================================================
   DESCRIÇÃO
========================================================== */

.hero p{

    max-width:650px;

    font-size:var(--font-xl);

    color:var(--texto-secundario);

    line-height:1.7;
}


/* ==========================================================
   BOTÃO
========================================================== */

.hero .btn{

    margin-top:var(--space-sm);
}